
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orlandia Map</title>
    <style>
        #circle {
            background-color: #000;
            border-radius: 25px;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 500px;
            top: 500px;
            mix-blend-mode: overlay;
        }

        #full {
            width: 1000px;
            height: 1000px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: url("/Images/Orlandia Map.png");
        }

        #block {
            z-index: 1000;
            position: absolute;
            top: 0;
            left: 0;
            width: 1000px;
            height: 1000px;
            background: url("/Images/Orlandia Map - Bottom.png");
        }
    </style>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var size = 20;
        var prevSize = 0;
        function resize() {
            if (size > 820)
                size = 820;
            console.log("Resizing");
            $("#circle").animate({ width: size + "px", height: size + "px", borderRadius: (size / 2) + "px", left: (500 - (size / 2)) + "px", top: (500 - (size / 2)) + "px" }, 10000, 'linear', resize);
            prevSize = size;
        }

        $(function() {
            var map = $.connection.mapHub;

            map.client.updateSize = function (newSize) {
                size = newSize;
                console.log(newSize);
            };

            $.connection.hub.start();

        });

        $(document).ready(function() {
            resize();
        });
    </script>
</head>
<body>
<div id="full">
    <div id="circle"></div>
</div>
<div id="block"></div>
</body>
</html>
